<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <title>Document</title>
    <style>
        .form-box{
            display: flex;
            width: 349px;
            height: 41px;
            padding: 16px 28px;
            justify-content: center;
            align-items: center;
            gap: 10px;
            border-radius: 8px;
            border: 1px solid #407BFF;
        }
        .form-box input{
            border: none;
        }
    </style>
</head>
<body class="d-flex align-items-center justify-content-center" style="height: 100vh;">
    <div class="mx-auto" style="width: 990px; border-radius: 10px; background: #FFF; box-shadow: 0px 5px 10px 5px rgba(0, 0, 0, 0.25);">
        <div class="row">
            <div class="col-6">
                <form>
                    <p style="color: #000; font-size: 36px; font-style: normal; font-weight: 600; line-height: normal;">MASUK</p>
                    <div style="display: inline-flex;
                    flex-direction: column;
                    align-items: flex-end;
                    gap: 15px;">
                        <div style="display: flex; flex-direction: column; align-items: flex-start; gap: 20px;">
                            <div class="form-box">
                                <input type="text" placeholder="Nama Pengguna"/>
                            </div>
                            <div class="form-box">
                                <input type="text" placeholder="Password"/>
                            </div>
                        </div>
                        <div style="display: flex; width: 347px; justify-content: space-between; align-items: flex-start;">
                            <div style="display: flex; align-items: flex-start; gap: 12px;">
                                <input type="checkbox"/>
                                <p style="color: #000; font-family: Inter; font-size: 13px; font-style: normal; font-weight: 400; line-height: normal;">Tetap masuk</p>
                            </div>
                            <p>Lupa kata sandi</p>
                        </div>
                    </div>

                </form>
            </div>
            <div class="col-6 d-flex align-items-center" style="background: rgba(64,123,255,0.08); height: 658px;">
                <img src="char1.png" style="width: 500px; "/>
            </div>
        </div>
    </div>
</body>

</html>